/* styles for hover tags */

.hover_tag{
  position: absolute;
  display: none;
  padding: 4px 6px 2px;
  background: #000;
  background: rgba(0,0,0,0.8);
  color: #fff;
  z-index: 800;
}

.tag_pointer{
  width: 8px;
  height: 6px;
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -3px;
  background: url('/hover_tag_pointer.png') 0 0 no-repeat;
}
