/* general styles */
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a.button{
  width: 197px;
}

footer{
  float: left;
  clear: both;
  width: 100%;
}

section{
  margin-bottom: 50px;
  float: left;
  clear: both;
  width: 100%;
}

section h2{
  margin-bottom: 15px;
}

section .example{
  float: left;
  width: 30%;
}

section .example input, textarea{
  float: left;
  width: 100%;
  resize: none;
  border: 1px solid lightgray;
  padding: 5px;
}

section .src{
  float: right;
  width: 65%;
  padding: 10px;
  background: lightgray;
  border: 1px solid gray;
}

section .src pre{
  margin-top: 5px;
  margin-bottom: 0;
}

.image_demo{
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

/* hover tag */
#hover_tag img{
  border: 1px solid black;
}

/* autoexpand */
#autoexpand_notifier{
  color: red;
}

/* override the max-width attribute that came
 * with this theme */
#square_image_wrapper img{
  max-width: none !important;
}

#center_image_wrapper{
  background: url(../images/linen.png) repeat;
}
