/* general styles */
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inner{
  width: 800px;
}

@font-face{
  font-family:"mgeraci-body";
  src:url("http://www.mgeraci.com/fonts/body_bold.eot?#iefix") format("embedded-opentype"),url("http://www.mgeraci.com/fonts/body_bold.woff") format("woff"),url("http://www.mgeraci.com/fonts/body_bold.ttf") format("truetype"),url("http://www.mgeraci.com/fonts/body_bold.svg#BodyBold") format("svg");
  font-weight:bold;
  font-style:normal;
}

header h1{
  font-family: mgeraci-body;
  font-size: 65px;
}

a.button{
  width: 197px;
}

footer{
  float: left;
  clear: both;
  width: 100%;
  background-position: 70px 0
}

section{
  margin-bottom: 50px;
  float: left;
  clear: both;
  width: 100%;
}

section h2{
  margin-bottom: 15px;
}

section .example{
  float: left;
  width: 25%;
}

section .example input, textarea{
  float: left;
  width: 100%;
  resize: none;
  border: 1px solid lightgray;
  padding: 5px;
}

section .src{
  float: right;
  width: 70%;
  padding: 10px;
  background: lightgray;
  border: 1px solid gray;
}

section .src pre{
  margin-top: 5px;
  margin-bottom: 0;
}

.image_demo{
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

/* hover tag */
#hover_tag img{
  border: 1px solid black;
}

/* autoexpand */
#autoexpand_notifier{
  color: red;
}

/* override the max-width attribute that came
 * with this theme */
#square_image_wrapper img{
  max-width: none !important;
}

#center_image_wrapper{
  background: url(../images/linen.png) repeat;
}

/* keyboard shortcuts */
#kb_status.go{
  color: green;
}

#kb_status.no{
  color: red;
}
